<h2>Comment on <%= @comment.photo.name %> by <%= @comment.user.username %>:</h2>

<p>
    <b>"<%= @comment.post %>"</b>
</p>


<a href="/photos/<%=  @photo.id %>/comments/<%= @comment.id %>/edit">Edit this comment</a>

<br>
<br>
<a href="/photos/<%=  @photo.id %>/comments">Back</a>
