<h1>Edit User</h1>
<div class="edit">
    <form action="/users/<%= @user.id %>" method="post">
        <input type="hidden" name="_method" value="put"><br>

        <label for="username">User Name:</label>
        <input type="text" name="username" value="<%= @user.username %>">

        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" value="<%= @user.fullname %>">

        <label for="isphotographer">Are you also a photographer?</label>
        <select name="isphotographer">

            <option value=TRUE <%= 'selected' if @user.isphotographer == "TRUE" %>>Yes</option>
            <option value=FALSE <%= 'selected' if @user.isphotographer == "FALSE" %>>No</option>

        </select>

      <input type="submit" value="Update user info">

    </form>
</div>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this user">
</form>

<br>
<br>
<a href="/users">Back</a>
