<h2>Edit User</h2>


<div class="edituser">


<div class="edit">
    <form action="/users/<%= @user.id %>" method="post">
        <input type="hidden" name="_method" value="put"><br>

        <label for="username">User Name:</label>
        <input type="text" name="username" value="<%= @user.username %>"><br>

        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" value="<%= @user.fullname %>"><br>

        <label for="password"></label>
        <input type="hidden" name="name" value="<%= @user.password %>">

        <label for="isphotographer">Are you also a photographer?</label><br>
        <select name="isphotographer">

            <option value=TRUE <%= 'selected' if @user.isphotographer == "t" %>>Yes</option>
            <option value=FALSE <%= 'selected' if @user.isphotographer == "f" %>>No</option>

        </select><br>

      <input type="submit" value="Update user info">

  </form><br>
</div>
<p>
    <br>
    <br>
</p>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this user">
</form><br>

</div>
<br>
<br>
<a href="/users">Back</a>
