<h2>Welcome to [lost:photon]</h2>
<p>
    ---<b> <%= @displayuser.fullname %></b>, also known as: <%= @displayuser.username %>. &nbsp;

    <% if @displayuser.isphotographer == 'TRUE' || 't' %>

        This user is a <b>photographer</b>, and can post their photos. ---
        </p>

<div class="photoscomments">
<h3>Users Photographs</h3>
        <p>
            <% @photos.each do |photo| %>
                <% if photo.photographer_id == @displayuser.id %>
                <div class="photos">
                    <p>
                        <b>[<%= photo.name %>]</b><br>
                        <div class="photo">
                        <a href="/photos/<%= photo.id%>"><img src="../img/<%= photo.object %>" /></a>
                        </div>
                    </p>
                    <hr>
                </div>
                <% end  %>
            <% end %>
        </p>

</div>

    <% else %>

        This user cannot post photographs. ---
        </p>
    <% end %>
    <% if @user.id == @displayuser.id %>
        <a href="/users/<%= @displayuser.id %>/edit">Edit this user</a>
    <% end %>
