<h2>Welcome to [lost:photon]</h2>
<p>
    ---<b> <%= @displayuser.fullname %></b>, also known as: <%= @displayuser.username %>. &nbsp;

    <% if @displayuser.isphotographer == 't' %>

        This user is a <b>photographer</b>, and can post their photos. ---
        </p>

<div class="photoscomments">
<h3>Users Photographs</h3>
        <p>
            <% @photos.each do |photo| %>
                <% if photo.photographer_id == @displayuser.id %>
                <div class="photos">
                    <p>
                        <b>[<%= photo.name %>]</b><br>
                        <div class="photo">
                        <a href="/photos/<%= photo.id%>"><img src="https://s3.amazonaws.com/lostphoton-assets/<%= photo.object %>" /></a>
                        </div>
                    </p>
                    <p>
                        Average rating: <b><%= photo.avg_rating %></b> stars!<br>
                    </p>
                    <p>
                        <b>Scroll down for comments...</b><br>
                    </p>
                        <% @comments.each do |comment| %>
                            <% if comment.photo_id == photo.id %>
                            <p>
                                <a href="/photos/<%= photo.id %>/comments/<%= comment.id %>/edit"><%= comment.user.username %>: <b><%= comment.post%></a></b><br>
                                 Rating: <%= comment.rating%> stars<br>
                            </p>
                            <% end %>
                        <% end %>
                    <p>
                        <a href="/photos/<%= photo.id%>/comments/new"><b>Add a comment</b></a>
                    </p>
                </div>
                <% end  %>
            <% end %>
        </p>

</div>

    <% else %>

        This user cannot post photographs. ---
        </p>
    <% end %>
    <% if @user.id == @displayuser.id %>
        <a href="/users/<%= @displayuser.id %>/edit">Edit this user</a>
    <% end %>
