<h1>New Photograph</h1>

<div class="new">
<p>
    Thank you <b><%= @user.username %></b>, your photograph <b><%= @photo.name %></b> was successfully uploaded.
</p>
    <div class="showphoto">
        <img src="https://s3.amazonaws.com/lostphoton-assets/<%= @photo.object %>" />
    </div>
<p>
    --- Exif ---<br>
    Date: <%= @photo.datetaken %><br>
    Location: <%= @photo.location %><br>
    Aperture: <%= @photo.aperture %><br>
    Shutter Speed: <%= @photo.shutterspeed %><br>
    Camera: <%= @photo.camera.make %> : <%= @photo.camera.model %><br>
    Lens: <%= @photo.lens.make %> : <%= @photo.lens.model %><br>
</p>
</div>
