<h2>Photographs</h2>
<% @photos.each do |photo| %>
<img src="https://s3.amazonaws.com/lostphoton-assets/<%= photo.object %>" />
<% end %>
<div class="photoscomments">

<p>
    <% @photos.each do |photo| %>
    <div class="photos">
        <p>
            <b>[<%= photo.name %>]</b><br>
            <div class="photo">
            <a href="/photos/<%= photo.id%>"><img src="img/<%= photo.object %>" /></a>
            </div>
        </p>
        <p>
            Average rating: <b><%= photo.avg_rating %></b> stars!<br>
            <b>Scroll down for comments...</b><br>
        </p>
            <% @comments.each do |comment| %>
                <% if comment.photo_id == photo.id %>
                <p>
                    <a href="/photos/<%= photo.id %>/comments/<%= comment.id %>/edit"><%= comment.user.username %>: <b><%= comment.post%></a></b><br>
                     Rating: <%= comment.rating%> stars<br>
                </p>
                <% end %>
            <% end %>
        <p>
            <a href="/photos/<%= photo.id%>/comments/new"><b>Add a comment</b></a>
        </p>
    </div>
    <% end %>
</p>

</div>

<div class="addnewphoto">
    <% if @user.isphotographer == 't' %>

    <h2><a href="/photos/new">Add a new photo?</a></h2>

    <% end %>
</div>
