<h2>Photographs</h2>

<div class="photoscomments">

<p>
    <% @photos.each do |photo| %>
    <div class="photos">
        <p>
            <b>[<%= photo.name %>]</b><br>
            <div class="photo">
            <a href="/photos/<%= photo.id%>"><img src="img/<%= photo.object %>" /></a>
            </div>
        </p>
        <p>
            Average rating: <b><%= photo.avg_rating %></b> stars!<br>
            Scroll down for comments...<br>
        </p>
            <% @comments.each do |comment| %>
                <% if comment.photo_id == photo.id %>
                <p>
                    <%= comment.user.username %>: <b><a href="/comments/<%= comment.id%>"><%= comment.post%></a></b><br>
                     Rating: <%= comment.rating%> stars<br>
                </p>
                <% end %>
            <% end %>

        <p>
            <a href="/photos/<%= photo.id%>/comments/new"><b>Add a comment</b></a>
        </p>
        <hr>
    </div>
    <% end %>
</p>

</div>

<div class="addnewphoto">
    <% if @user.isphotographer ='t' %>

    <h2><a href="/photos/new">Add a new photo?</a></h2>

    <% end %>
</div>
