<h2>Photographs</h2>
<%= @topratedphoto[0][1] %>
<div class="photoscomments">

<p>
    <% @photos.each do |photo| %>
    <div class="photos">
        <p>
            <b><%= photo.name %></b><br>
            <div class="photo">
            <a href="/photos/<%= photo.id%>"><img src="img/<%= photo.object %>" /></a>
            </div>
        </p>

        Average rating: <%= photo.avg_rating %> stars!

        <p>
            Scroll down for comments...<br>
        </p>
            <% @comments.each do |comment| %>
                <% if comment.photo_id == photo.id %>
                <p>
                    <%= comment.user.username %>: <b><a href="/comments/<%= comment.id%>"><%= comment.post%></a></b><br>
                     Rating: <%= comment.rating%> stars<br>
                </p>
                <% end %>
            <% end %>

        <p>
            <a href="/comments/new"><b>Add a comment</b></a>
        </p>
        <hr>
    </div>
    <% end %>
</p>

</div>
