<h2><%= @photo.name %> by <%= @photo.photographer.username %></h2>

<div class="photoscomments">


    <div class="showphoto">
    <a href="https://s3.amazonaws.com/lostphoton-assets/<%= @photo.object %>"><img src="https://s3.amazonaws.com/lostphoton-assets/<%= @photo.object %>" /></a>
    </div>
<p>
    --- Exif ---<br>
    Date: <%= @photo.datetaken %><br>
    Location: <%= @photo.location %><br>
    Aperture: <%= @photo.aperture %><br>
    Shutter Speed: <%= @photo.shutterspeed %><br>
    Camera: <%= @photo.camera.make %> : <%= @photo.camera.model %><br>
    Lens: <%= @photo.lens.make %> : <%= @photo.lens.model %><br>
</p>

    <% if @user.isphotographer == 't' %>
        <p>
        <a href="/photos/<%= @photo.id %>/edit">Edit the photo info?</a>
        </p>
    <% else %>
        <p>
        This user cannot post photographs.
        </p>
    <% end %>

<!-- Maybe add loop through photographers, and if they match the user id (aka user is also a photographer) then display the eidt button below! -->


<p>
    Comments:<br>
</p>
<% @comments.each do |comment| %>
    <% if comment.photo_id == @photo.id %>
    <p>
        <a href="/photos/<%=  @photo.id %>/comments/<%= comment.id %>/edit"><%= comment.user.username %>: <b><%= comment.post %></a></b><br>
         Rating: <%= comment.rating %> stars<br>
    </p>
    <% end %>
<% end %>


<p>
<a href="/photos/<%= @photo.id %>/comments/new"><b>Add a comment</b></a>
</p>

</div>
